@use 'mixins';
@use 'vars';

$remove-tray_phone-bottom: remove-tray_phone-bottom;
.remove-tray .phone-bottom {
  @include mixins.animator(
    $remove-tray_phone-bottom,
    vars.$anim-length-remove-tray
  ) {
    // 0s
    0%,
    // 1s
    11.11%,
    // 2s
    22.22%,
    // 3s
    33.33%,
    // 4s
    44.44%,
    // 4.5s
    50%,
    // 5.5s
    61.11% {
      transform: translate(14.8%, 34.6%);
    }

    // 6.5s
    72.22%,
    // 7.5s
    83.33%,
    // 8.5s
    94.44%,
    // 9s
    100% {
      transform: translate(29.6%, 24.6%);
    }
  }
}

$reinsert-tray_phone-bottom: reinsert-tray_phone-bottom;
.reinsert-tray .phone-bottom {
  @include mixins.animator(
    $reinsert-tray_phone-bottom,
    vars.$anim-length-reinsert-tray
  ) {
    // 0s
    0%,
    // 1s
    11.11%,
    // 2s
    22.22%,
    // 3s
    33.33%,
    // 4s
    44.44% {
      transform: translate(29.6%, 24.6%);
    }

    // 5s
    55.55%,
    // 6.5s
    72.22%,
    // 7.5s
    83.33%,
    // 8.5s
    94.44%,
    // 9s
    100% {
      transform: translate(14.8%, 34.6%);
    }
  }
}
