$content-max-width: 1080px;
$content-min-width: 320px;
$mobile-width-break: 600px;
$page-padding: 24px 32px;
$page-padding-mobile: 16px;
$spacing-desktop: 24px;
$spacing-mobile: 16px;
$text-max-width: 600px;
