@use 'animation';
@use 'colors';
@use 'mixins';
@use 'vars';

.lesson-page {
  display: flex;
  flex-flow: column;
}

.lesson-header {
  background-color: grey;
}

.header-content {
  display: flex;
  @include mixins.responsive(flex-flow, row nowrap, column nowrap);
  justify-content: center;
  margin: 0 auto;
  max-width: vars.$content-max-width;
  @include mixins.responsive(
    padding,
    vars.$spacing-desktop,
    vars.$spacing-mobile
  );

  &,
  .header-text {
    @include mixins.responsive(
      gap,
      vars.$spacing-desktop,
      vars.$spacing-mobile
    );
  }
}

.header-art {
  flex: 1;
  max-width: 240px;
  min-width: 200px;
  height: 100%;
  margin: 0 auto;

  img {
    max-width: 100%;
  }
}

.header-text {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
}

.lesson-content {
  display: flex;
  flex-flow: column nowrap;
  gap: vars.$spacing-desktop;
  @include mixins.responsive(
    padding,
    vars.$page-padding,
    vars.$page-padding-mobile
  );
}

.disclaimer-text {
  color: colors.$grey-700;
  font-size: 12px;
  line-height: 16px;
  margin: 0 auto;
  max-width: vars.$text-max-width;
  @include mixins.responsive(
    padding,
    0 vars.$spacing-desktop,
    0 vars.$spacing-mobile
  );
}

.lesson-video {
  align-items: center;
  display: flex;
  flex-flow: column;

  .video-wrapper {
    margin: 0 auto;
    max-width: vars.$content-max-width;
    width: 100%;
  }

  .video-container {
    margin: 0 auto;
    max-width: 80%;
    padding-top: 43.75%;
    position: relative;
    width: 100%;
  }

  .video-embed {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.steps {
  display: flex;
  flex-flow: column nowrap;
  max-width: vars.$content-max-width;
  min-width: vars.$content-min-width;
  row-gap: vars.$spacing-desktop;
}

.step {
  background-color: colors.$grey-100;
  border-radius: 8px;
  @include mixins.responsive(flex-flow, row nowrap, column nowrap);
  @include mixins.responsive(
    padding,
    vars.$spacing-desktop,
    vars.$spacing-mobile
  );
  width: 100%;

  &,
  .content {
    display: flex;
    @include mixins.responsive(
      gap,
      vars.$spacing-desktop,
      vars.$spacing-mobile
    );
  }

  .content {
    flex-flow: column nowrap;
    flex: 1;
  }

  .art {
    flex: 1;
    width: 100%;
  }
}

.step-label {
  color: colors.$grey-900;
  font-size: 28px;
  line-height: 36px;
}

.step-text {
  color: colors.$grey-800;
  font-size: 16px;
  line-height: 24px;
}

.image {
  padding-top: 100%;
  position: relative;

  svg {
    bottom: 0;
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
  }
}
